<main class="container">
    <div class="text-container">
      <h1 id="title" class="title">All About Macedonian Traditional Food</h1>
      <p>If you’re eager to try North Macedonian food and learn more about Macedonian cuisine, you’ve most certainly come to the right place. If you visit North Macedonia, you’ll be captivated by the numerous archaic monastery landmarks, picturesque lakes, and the alluring cuisine. Most Macedonian dishes are a perfect combination of organic produce, quality meat, and dairy. The climate allows you to eat a raw tomato as it is, and you’ll be blown away by the taste.</p>
    </div>
    <div class="image-container">
      <img src="../../assets/mkFood.webp" class="image" />
      <img src="../../assets/mkFood2.jpg" class="image" />
      <img src="../../assets/mkFood3.jpg" class="image" />
      <img src="../../assets/mkFood4.jpg" class="image" />
    </div>

    
  </main>
  